<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <title>Login</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign In</h3>
                                <p class="mb-4">Masukan login anda.</p>
                            </div>
                            <div>
                                <div class="form-group first">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password">

                                </div>

                                <input id="btnLogin" type="submit" value="Log In" class="btn btn-block btn-primary">

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script type="text/javascript">

        $('#btnLogin').on('click', function () {
            var $field = $(this).closest('.form-group');
            if (this.value) {
                $field.addClass('field--not-empty');
            } else {
                $field.removeClass('field--not-empty');
            }

            // login post
            
            var data = {};
            data.UserName = $("#username").val();
            data.Password = $("#password").val();
            

            $.ajax({
                type: "POST",
                url: 'Login/PostLogin',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: "json",
                success: function (response) {
                    
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Berhasil!, Halaman anda akan dialihkan",
                        showConfirmButton: false,
                        timer: 3500
                    });

                },
                error: function (response) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Sepertinya tidak berhasil, coba lagi!",
                        footer: 'MCF Test - Ginanjar'
                    });
                }
            });


        });

    </script>
</body>
</html>